<%= month_calendar do |date| %>
  <%= date.day %><br/>
  <div class="reservations">
    <% reservations_to_date(date).each do |reservation| %>
      <div class="reservation">
        <%=reservation.project_user.user.name %>
      </div>
    <% end %>
  </div>
  <div class="projects">  
    <% projects_to_date(date).each do |project| %>
      <div class="project">
        <%=project.name %>
      </div>
    <% end %>
  </div>
<% end %>