<%= month_calendar do |date| %>
  <%= date.day %><br/>
  <span class="reservations">
    <%= reservations_to_date(date) %><br/>
  </span>
  <span class="reservations">  
    <%= projects_to_date(date) %>
  </span>
<% end %>