//*= require simple_calendar
@import "just_datetime_picker/base";
@import "active_admin/mixins";
@import "arctic_admin/base";
@import "font-awesome";

li.just_datetime_picker input {
  display: inline;
}

.simple-calendar {
  .list {
    .entry {
      padding: 2px;
      border-radius: 4px;
      margin: 2px;
    }
  }
  .reservations {
    .reservation {
      background: orange;
    }
  }
  .projects {
    .projects {
      background: violet;
    }
  }
  .holidays {
    .holiday {
      background: lightgreen;
    }
  }
}